@using Microsoft.AspNetCore.Http
@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor

@{
    ViewData["Title"] = "Aissa Tecnologia - Perfil";
}

<header>
    <img src="~/imagens/aissa-branco.svg" class="logo">
    <button class="headerbutton">&#9776</button>
    <ul>
        <li><a class="pagina" asp-controller="Projetoes" asp-action="Index"><i class="bi bi-folder-fill"></i>PROJETOS</a></li>
        <li><a class="pagina-atv" asp-controller="Home" asp-action="Perfil"><i class="bi bi-person-fill"></i>PERFIL</a></li>
        <li><a class="pagina" asp-controller="Pessoas" asp-action="EditConta" asp-route-id="@HttpContextAccessor.HttpContext.Session.GetString("IdUsuarioLogado")"><i class="bi bi-gear-fill"></i>CONTA</a></li>
        <li><a class="pagina" asp-controller="Login" asp-action="Logout"><i class="bi bi-door-open-fill"></i>SAIR</a></li>
    </ul>

</header>
<div class="container">
    <main role="main" class="pb-3">
        <div class="meuperfil d-flex justify-content-center">

            <div class="cardperfil">

                <div class="text-center">
                    <img src="~/imagens/perfil.png" width="100" class="rounded-circle">
                </div>

                <div class="text-center mt-3">
                    <h3 class="mt-2 mb-0">@HttpContextAccessor.HttpContext.Session.GetString("NomeUsuarioLogado")</h3>
                    <span>@HttpContextAccessor.HttpContext.Session.GetString("CargoUsuarioLogado")</span>

                    <div class="px-4 mt-1">
                        <p class="fonts">@HttpContextAccessor.HttpContext.Session.GetString("BioUsuarioLogado")</p>
                    </div>

                    <ul class="social-list">
                        <li><a href="@HttpContextAccessor.HttpContext.Session.GetString("GitUsuarioLogado")"><i class="bi bi-github"></i></a></li>
                    </ul>

                    <div class="buttons">
                        <a href=mailto:@HttpContextAccessor.HttpContext.Session.GetString("EmailUsuarioLogado")>Enviar E-mail</a>
                    </div>
                </div>
            </div>
        </div>
    </main>
</div>

<div id="root"></div>
